// Text color
$pmr-text-cl: #353945;
$heading-text-cl: #23262F;
$prm-cl :#3B71FE;
// flex
$flex: false;
$justify: center;
$align: center;
$flex-sb: space-between;
// responsive
$max-mobie: 767.98px;
$max-tablet: 1023.98px;
// cover images
$cover: true;
$width: 40px;
$height: 40px;
// Fonts
$pmr-font: "Inter", sans-serif;
$sub-font: "Roboto", sans-serif;
$fsize: 2rem;
$fweight: 500;
$line-h: 22px;
// btn
$btn-pd-top-bot: 10px;
$btn-pd-left-right: 10px;
$pmr-bgcl: linear-gradient(90deg, #1cc7db 0%, #4cbce2 100%);
$bd-radius: 8px;
$color: #fff;
// line-clamp
$line: 1;
